{% include "header.html" %}

<!-- rubrik -->
<div class="container text-center">
		<h1>Välkommen till informationsappen!</h1>
  		<h4>En mobilanpassad webbapplikation till en framtida utsällning om skateboardkulturen</h4>
</div>



<!-- bild-slide -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div id="bild1">
      <div class="carousel-caption">
        <h3>Stad</h3>
        <p>information om staden</p>
          </div>
      </div>
    </div>

    <div class="item">
        <div id="bild2">
      <div class="carousel-caption">
        <h3>Stad</h3>
        <p>information om staden</p>
          </div>
      </div>
    </div>

    <div class="item">
<div id="bild3">
      <div class="carousel-caption">
        <h3>Stad</h3>
        <p>information om staden</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Föregående</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Nästa</span>
  </a>
</div>




</body>
{% include "footer.html" %}