{% include "header.html" %}
<body>



<div class="bg-1">
  <div class="container">
    <h3 class="text-center">STÄDER UTSTÄLLNINGEN KOMMER ATT BESÖKA</h3>
    <p class="text-center">Observera att ändringar i datum och tid kan ske!</p>

    <ul class="list-group">
        <li class="list-group-item">Karlshamn | 15-21/5 2019</li>
        <li class="list-group-item">Malmö | 23-29/5 2019</li>
        <li class="list-group-item">Lund |</li>
        <li class="list-group-item">Uppsala |</li>
        <li class="list-group-item">Stockholm |</li>
        <li class="list-group-item">Göteborg |</li>
        <li class="list-group-item">Borås |</li>
        <li class="list-group-item">Arvika |</li>
        <li class="list-group-item">Borlänge |</li>
        <li class="list-group-item">Östersund |</li>
        <li class="list-group-item">Umeå |</li>
        <li class="list-group-item">Helsingborg |</li>
    </ul>
  </div>
</div>



</body>
{% include "footer.html" %}