{% include "header.html" %}
<body>



<div class="bg-1">
  <div class="container">
    <h3 class="text-center">STÄDER UTSTÄLLNINGEN KOMMER ATT BESÖKA</h3>
    <p class="text-center">Observera att ändringar i datum och tid kan ske!</p>

    <ul class="list-group">
        <li class="list-group-item">Karlshamn | 15-21/5 2019</li>
        <li class="list-group-item">Malmö | 23-29/5 2019</li>
        <li class="list-group-item">Lund | xx-xx/x 2019</li>
        <li class="list-group-item">Uppsala | xx-xx/x 2019</li>
        <li class="list-group-item">Stockholm | xx-xx/x 2019</li>
        <li class="list-group-item">Göteborg | xx-xx/x 2019</li>
        <li class="list-group-item">Borås | xx-xx/x 2019</li>
        <li class="list-group-item">Arvika | xx-xx/x 2019</li>
        <li class="list-group-item">Borlänge | xx-xx/x 2019</li>
        <li class="list-group-item">Östersund | xx-xx/x 2019</li>
        <li class="list-group-item">Umeå | xx-xx/x 2019</li>
        <li class="list-group-item">Helsingborg | xx-xx/x 2019</li>
    </ul>
  </div>
</div>



</body>
{% include "footer.html" %}